<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="Marque onde você já deu um cagão de maneira anônima" />
    <meta name="author" content="Barlao" />
    <meta name="keywords" content="cagao, cagar, cagada, mapa, marcar, bosta, merda" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <!-- Facebook -->
    <meta property="og:title" content="Já Caguei Aqui" />
    <meta property="og:description" content="Marque onde já cagou de maneira anônima." />
    <meta property="og:url" content="http://www.jacagueiaqui.com.br/" />
    <meta property="og:image" content="http://www.jacagueiaqui.com.br/resources/merda-icone.png" />
    <meta property="og:site_name" content="Já Caguei Aqui" />
    <meta property="og:type" content="website" />
    <link rel="shortcut icon" href="Resources/favicon.png" />
    <title>Já Caguei Aqui</title>
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="../../assets/js/html5shiv.js"></script>
      <script src="../../assets/js/respond.min.js"></script>
    <![endif]-->
    <link href='http://fonts.googleapis.com/css?family=Muli' rel='stylesheet' type='text/css' />
    <script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=false"></script>
    <script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?libraries=places&sensor=false"></script>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @if (HttpContext.Current.IsDebuggingEnabled)
    {
        <script type="text/javascript" src="/Scripts/scripts.js"></script>
    }
    else
    {
        @Scripts.Render("~/bundles/scripts")
    }
</head>
<body>
    <script type="text/javascript">
        !function (d, s, id) { var js, fjs = d.getElementsByTagName(s)[0], p = /^http:/.test(d.location) ? 'http' : 'https'; if (!d.getElementById(id)) { js = d.createElement(s); js.id = id; js.src = p + '://platform.twitter.com/widgets.js'; fjs.parentNode.insertBefore(js, fjs); } } (document, 'script', 'twitter-wjs');
    </script>
    <div id="fb-root">
    </div>
    <script type="text/javascript">
        (function (d, s, id) {
            var js, fjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id)) return;
            js = d.createElement(s); js.id = id;
            js.src = "//connect.facebook.net/pt_BR/all.js#xfbml=1&appId=537123193036565";
            fjs.parentNode.insertBefore(js, fjs);
        } (document, 'script', 'facebook-jssdk'));
    </script>
    @if (!HttpContext.Current.IsDebuggingEnabled)
    {
        <script type="text/javascript">
            (function (i, s, o, g, r, a, m) {
                i['GoogleAnalyticsObject'] = r; i[r] = i[r] || function () {
                    (i[r].q = i[r].q || []).push(arguments)
                }, i[r].l = 1 * new Date(); a = s.createElement(o),
            m = s.getElementsByTagName(o)[0]; a.async = 1; a.src = g; m.parentNode.insertBefore(a, m)
            })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');

            ga('create', 'UA-44769164-1', 'jacagueiaqui.com.br');
            ga('send', 'pageview');

        </script>
    }
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar">
                    </span>
                </button>
                <img class="navbar-brand" src="../../Resources/merda.png" alt="Logo" style="width: 50px;
                    height: 50px;" />
                <a class="navbar-brand" href="/">Já Caguei Aqui</a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>
                        @Html.ActionLink("Início", "Index", "Home")
                    </li>
                    <li>
                        @Html.ActionLink("Contato", "Contato", "Home")
                    </li>
                    <li>
                        @Html.ActionLink("Registrar Cagada", "RegistrarCagada", "Home")
                    </li>
                    <li>
                        @Html.ActionLink("Quem fez essa merda", "QuemFezEssaMerda", "Home")
                    </li>
                    @*<li>
                        @Html.ActionLink("Top Cagadas", "TopCagadas", "Home")
                    </li>*@
                    <li class="dropdown navbar-right">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                            Top Cagadas <b class="caret"></b>
                        </a>
                        <ul class="dropdown-menu">
                            <li>
                                @Html.ActionLink("Mais Curtidas", "TopCagadas", new { sessao = "MaisCurtidas" })
                            </li>
                            <li>
                                @Html.ActionLink("Mais Comentadas", "TopCagadas", new { sessao = "MaisComentadas" })
                            </li>
                        </ul>
                    </li>
                </ul>
                <span class="navbar-right navbar-brand" style="background-color: White; color: Black; text-align: center;">
                    Conheça também
                    <br />
                    <a href="http://www.2meet.com.br" target="_blank">
                        <img src="../../Resources/logo_2meet.png" title="2meet" alt="2meet" style="height: 50px;" />
                    </a>
                    <a href="http://www.jatranseiaqui.com.br" target="_blank">
                        <img src="../../Resources/coracao.png" title="Já Transei Aqui" alt="JaTranseiAqui" style="height: 50px;" />
                    </a>
                </span>
                @*<span class="navbar-right navbar-nocolor">
                    Você está em                     
                </span>*@ @*<form class="navbar-form navbar-right">
                <div class="form-group">
                    <input type="text" placeholder="Email" class="form-control">
                </div>
                <div class="form-group">
                    <input type="password" placeholder="Password" class="form-control">
                </div>
                <button type="submit" class="btn btn-success">
                    Sign in</button>
                </form>*@
            </div>
        </div>
    </div>
    @if (ViewContext.RouteData.Values["action"].ToString() == "Index" && ViewContext.RouteData.Values["controller"].ToString() == "Home")
    {    
        <div class="jumbotron">
            <div class="container">
                <h2>
                    E quando não dá pra segurar?
                    <img src="../../Resources/emoticon.png" alt=":s" width="70px" height="70px" />
                </h2>
                <p>
                Está lá você, na faculdade, na casa da família da namorada, naquele evento que esperou
                meses para chegar, e a vontade de dar aquele cagão chega sem avisar... E agora?
                Não dá pra segurar, o negócio é viver perigosamente e liberar o refém auhAUHauhAUHuahU
                Marque no mapa onde realizou essa proeza!@*<p>
                    <a class="btn btn-primary btn-lg">Learn more &raquo;</a>
                </p>*@ @*<br />
				<h2>NOTA DO AUTOR DESSA MERDA</h2> 
				<p>
				Seus cagões do caralho, não imaginava que tanta gente ia postar coisas assim auhauha
				por favor, usem a opção <a href="/Contato">contato</a> para sugerirem alguma nova funcionalidade que desejam, a princípio vou colocar
				local, ranking das cagadas mais curtidas, e filtro por usuário, então se você cagou em mais de um lugar,
				mantenha o mesmo nome para que eu possa te localizar mais facilmente depois. E se achou ruim vai cagar!
				</p>*@
            </div>
        </div>    
    }
    <div class="container">
        @RenderBody()
        <hr />
        <footer>
            <p>
                &copy; jacagueiaqui.com.br
                <div class="fb-like" data-href="https://www.facebook.com/jacagueiaqui" data-width="The pixel width of the plugin" data-height="The pixel height of the plugin" data-colorscheme="light" data-layout="standard" data-action="like" data-show-faces="true" data-send="false"></div>
                <span style="float: right;">                    
                    <a href="https://twitter.com/share" class="twitter-share-button" data-text="#segurabrasew #chupaconcorrencia" data-lang="pt" data-size="large" data-hashtags="jacagueiaqui">Tweetar</a>
                    
                </span>
            </p>
        </footer>
    </div>
    @if (TempData["Mensagem"] != null)
    {
        <script type="text/javascript">
            alert('@TempData["Mensagem"].ToString()');
        </script>
    }
    <script type="text/javascript" src="../../Scripts/bootstrap.min.js"></script>
</body>
</html>
